body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1{
    color: rgb(0, 255, 13);
}

p{
color: rgb(97, 22, 22);
}

button{
    background-color: rgb(255, 0, 191);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button :hover{
    background-color: rgb(11, 11, 240);
}